<div  class="slide3-container1">
    <img class="slide3-container1-title-background" src="{{ base_url() }}/assets/images/dirigeants.png">
    <div class="slide3-container1-subContainer1">
        <div class="slide3-container1-subContainer1-title">{{ _slide.title }}<br></div>
        <div class="slide3-container1-subContainer1-text">{{ _slide.text | raw }}<br></div>
        <div class="slide3-container1-subContainer1-audio"></div>
    </div>
</div>