{% for _circle in _slide.circles %}
    <div class="container-circle">
        <div class="container-data">
            <div class="container-subtitle">{{ _circle.subtitle }}</div>
            <div class="container-number">{{ _circle.number }}</div>
        </div>
    </div>
{% endfor %}