<div class="slide3-container2">
    <div class="slide3-container2-title">{{ _slide.title }}<br></div>
    <div class="slide3-container2-label">{{ _slide.label }}<br></div>
    <div class="slide3-container2-text">{{ _slide.text }}<br></div>
    <div class="slide3-container2-text-border"></div>
</div>