<div class="chapter2-container-circles">
    <div class="chapter2-line1"></div>
    <div class="chapter2-line2"></div>
    <div class="chapter2-circle1"></div>
    <div class="chapter2-circle2"></div>
    <div class="chapter2-circle3"></div>
    <div class="chapter2-circle4"></div>
    <p class="circle-text">
        <span class="circle-number">70%</span> <br>
        Agriculture
    </p>
</div>