<div class="slide1-container1">
    <div class="slide1-bar1">
        <div class="slide1-bar1-fill"></div>
    </div>
    <div class="slide1-text-container">
        <span class="slide1-subtitle">Géants de l'eau<br></span>
        <span class="slide1-number">60 %<br></span><p class="slide1-text">des ressources naturelles d’eau douce sont partagées entre 9 pays. Le monde en compte 197.</p>
    </div>
</div>
<div class="slide1-container2">
    <div class="slide1-bar2">
        <div class="slide1-bar2-fill"></div>
    </div>
    <div class="slide1-text-container">
        <span class="slide1-subtitle">Inaccesible<br></span>
        <span class="slide1-number">10 %<br></span><p class="slide1-text">de la population mondiale n’a pas accès à l’eau potable. Soit 748 millions d’humains.</p>
    </div>
</div>
<div class="slide1-container3">
    <div class="slide1-bar3"></div>
    <div class="slide1-text-container">
        <span class="slide1-subtitle">Course contre la montre<br></span>
        <span class="slide1-number">5 Humains<br></span><p class="slide1-text">meurent toutes les minutes parce qu’ils n’ont pas accès à l’eau potable.</p>
    </div>
</div>