{% extends 'index.twig' %}

{% block html %}

    {% embed './partials/head.twig' %}
        {% block title %}404 page not found{% endblock %}
    {% endembed %}

    {% embed './partials/body.twig' %}
        {% block body %}
            <h1>Error</h1>
        {% endblock %}
    {% endembed %}

{% endblock %}