{% extends 'index.twig' %}

{% block html %}

    {% embed './partials/head.twig' %}
        {% block title %}Chapitre{% endblock %}
    {% endembed %}

    {% embed './partials/body.twig' %}
        {% block body %}
            <div class="chapter-number-container">
                <span class="chapter-number">{{ chapter.number }}</span>
                <div class="chapter-line"></div>
            </div>
            <h1 class="chapter-title" data-baseurl="{{ base_url() }}/">{{ chapter.title | raw }}</h1>
            <p class="chapter-p">{{ chapter.paragraph | raw }}</p>
            <div class="chapter-explore-button">
                {% include './layouts/cursor.twig' %}
                <span class="chapter-explore-text">Explorer</span>
            </div>
            <div class="chapter-medias-button">
                {% include './layouts/lock.twig' %}
                <span class="chapter-medias-text">Medias</span>
            </div>
            <div class="chapter-about-container">
                <h3 class="chapter-about-title">Qui sommes-nous</h3>
                <p class="chapter-about-blabla1">Nous sommes des étudiants en 2ème année, à HETIC, école de l’Internet. Bla bla bla balabalalalalaalalalalalla allaalallalalalalalalalalalalalalala defzfzfzfzfzf fzfezfezfzffd dsqdqdqdqd dqdqdq za.  a a azaazaaaa fsdfsfs </p>
                <div class="about-undertitle-container">
                    <h4 class="about-undertitle">Conception et réalisation</h4>
                    Alain Cao Von Truong <br>
                    Samantha Cruveilher <br>
                    Jean-Noël Duchevet <br>
                </div>
                <div class="about-undertitle-container">
                    <h4 class="about-undertitle">Création artistique</h4>
                    Adeline Berte
                </div>
                <div class="about-undertitle-container">
                    <h4 class="about-undertitle">Motion Design</h4>
                    Justine Di Meo
                </div>
                <div class="about-undertitle-container">
                    <h4 class="about-undertitle">Textes</h4>
                    Martin Chapuis
                    Justine Di Meo
                </div>
                <div class="about-undertitle-container">
                    <h4 class="about-undertitle">Coordinateur du projet</h4>
                    François Pumir
                </div>
            </div>
            {% include './layouts/menu.twig' %}
        {% endblock %}
    {% endembed %}

{% endblock %}