{% extends 'index.twig' %}

{% block html %}

    {% embed './partials/head.twig' %}
        {% block title %}Web documentary{% endblock %}
    {% endembed %}

    {% embed './partials/body.twig' %}
        {% block body %}
            <h1 class='homeTitle abs'>L'or bleu</h1>
            <a class='linkHome' href='#'>
                <div  class='waterPathButton abs'>
                    Suivre le chemin<br/>de l'eau
                </div>
            </a>
            {% include './layouts/menu.twig' %}
        {% endblock %}
    {% endembed %}

{% endblock %}