{% extends 'index.twig' %}

{% block html %}

    {% embed './partials/head.twig' %}
        {% block title %}L'or bleu{% endblock %}
    {% endembed %}

    {% embed './partials/body.twig' %}
        {% block body %}
            <div id="barba-wrapper">
                <div class="barba-container">
                    <h1 class="homeTitle abs">L'or bleu</h1>
                    <a class="linkHome" href="{{ path_for('explorer') }}">
                        <div  class="waterPathButton abs">
                            Suivre le chemin<br/>de l'eau
                        </div>
                    </a>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}