<span class="button--menu">
    <div class="button--circle"></div>
    <span class="button--main">
        <img class="button--img" src="{{ base_url() }}/assets/images/drop.svg" alt="Water drop">
        <span class="button--text">Sommaire</span>
    </span>
    <a href="#" class="button--button">
        <span class="button--title">L'introduction de l'eau</span>
    </a>
    <a href="#" class="button--button">
        <span class="button--title">L'utilisation de l'eau</span>
    </a>
    <a href="#" class="button--button">
        <span class="button--title">Gestion publique</span>
    </a>
    <a href="#" class="button--button">
        <span class="button--title">Gestion privée</span>
    </a>
    <a href="#" class="button--button">
        <span class="button--title">Le droit ou le besoin</span>
    </a>
</span>