<span class="button--menu">
    <div class="button--circle"></div>
    <span class="button--main">
        <img class="button--img" src="{{ base_url() }}/assets/images/drop.svg" alt="Water drop">
        <span class="button--text">Sommaire</span>
    </span>
    {% for _chapter in chapters %}
        <a href="{{ path_for('chapter', {slug: _chapter.slug}) }}" class="button--button">
            <span class="button--title">{{ _chapter.section }}</span>
        </a>
    {% endfor %}
</span>