<div class="chapter-about-container">

    <svg class="sideBarWave" width="100%" height="100%" preserveEspectRatio="none">
        <path d="M200,0c0,0 -200,46.405 -200,177c0,130.595 126.228,90.241 149,287c22.772,196.759 51,436 51,436l32,0l-4,-900l-28,0Z" data-to="M0,0c0,0 0,46.405 0,177c0,130.595 1.152,98.101 0,296c-1.153,198.07 0,427 0,427l200,0l0,-900l-200,0Z"/>
    </svg>
    <svg class="placeHolder" width="100%" height="100%" preserveEspectRatio="none">
        <path d="M.5,0V177c0,130.6,1.2,98.1,0,296s0,427,0,427H600V0Z"/>
    </svg>

    <div class="chapter-about-titles">
        <h3 class="chapter-about-title js-title1">Qui sommes-nous</h3>
        <h3 class="chapter-about-title js-title2 hidden">Sur le projet</h3>
        <h3 class="chapter-about-title js-title3 hidden">Coopération</h3>
    </div>
    <div class="chapter-about-text js-text1">
        <p class="chapter-about-blabla">Un groupe d’étudiants du programme Grande École d’Hétic. Nous avons réalisé ce site dans le cadre d’une semaine intensive dont le but était de produire un objet digital constituant un web-documentaire.</p>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Conception et réalisation</h4>
            Alain Cao Van Truong <br>
            Samantha Cruveilher <br>
            Jean-Noël Duchevet <br>
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Création artistique</h4>
            Adeline Berte
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Motion Design</h4>
            Justine Di Meo
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Textes</h4>
            Martin Chapuis
            Justine Di Meo
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Coordinateur du projet</h4>
            François Pumir
        </div>
    </div>
    <div class="chapter-about-text js-text2 hidden">
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">La gestion de l'eau dans nos sociétés</h4>
        </div>
        <p class="chapter-about-blabla">Le projet a été préparé dans le cadre d’une semaine intensive durant le mois de Juin de l’année 2018.</p>
        <p class="chapter-about-blabla">Le sujet de l’eau est crucial pour l’avenir de notre société et sa pérennité à long et très long terme. Nous voulions aborder ce sujet pour en avoir une meilleure compréhension, d’une part, et d’autre part de donner de matière à réfléchir aux visiteurs du site, et apporter notre contribution à cette prise de conscience collective nécessaire.</p>
        <p class="chapter-about-blabla">Pour approfondir le sujet de la question environnementale et notamment celui du partage de l’eau, nous conseillons vivement ce documentaire : https://www.youtube.com/watch?v=Hs-M1vgI_4A<br>
        </p>
    </div>
    <div class="chapter-about-text js-text3 hidden">
        <p class="chapter-about-blabla">Plusieurs associations et ONG proposent de multiples campagne de dons pour l’eau, vous pouvez participer ici :</p>
        <div class="about-undertitle-container">
            https://humanappeal.fr/nos-actions/eau-potable/
        </div>
        <div class="about-undertitle-container">
            https://muslimhands.fr/don/fonds/fonds-pour-l-eau
        </div>
        <div class="about-undertitle-container">
            https://life-ong.org/eau/
        </div><div class="about-undertitle-container">
            https://www.unicef.fr/dossier/eau-et-assainissement
            N’hésitez pas à partager ce webdocumentaire.<br>
            Merci pour votre visite.
            <h4 class="about-undertitle">Nous n’avons pas acquis les droits des sources. Ce projet a été réalisé dans un cadre pédagogique.</h4>
        </div>
    </div>
    <button class="about-close-button">&#x2715;</button>
    
</div>