<div class="chapter-about-container">
    <div class="chapter-about-titles">
        <h3 class="chapter-about-title js-title1">Qui sommes-nous</h3>
        <h3 class="chapter-about-title js-title2 hidden">Sur le projet</h3>
        <h3 class="chapter-about-title js-title3 hidden">Coopération</h3>
    </div>
    <div class="chapter-about-text js-text1">
        <p class="chapter-about-blabla">Nous sommes des étudiants en 2ème année, à HETIC, école de l’Internet. Bla bla bla balabalalalalaalalalalalla allaalallalalalalalalalalalalalalala defzfzfzfzfzf fzfezfezfzffd dsqdqdqdqd dqdqdq za.  a a azaazaaaa fsdfsfs </p>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Conception et réalisation</h4>
            Alain Cao Van Truong <br>
            Samantha Cruveilher <br>
            Jean-Noël Duchevet <br>
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Création artistique</h4>
            Adeline Berte
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Motion Design</h4>
            Justine Di Meo
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Textes</h4>
            Martin Chapuis
            Justine Di Meo
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Coordinateur du projet</h4>
            François Pumir
        </div>
    </div>
    <div class="chapter-about-text js-text2 hidden">
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">La gestion de l'eau dans nos sociétés</h4>
        </div>
        <p class="chapter-about-blabla">Le projet a été préparé dans le cadre d’une semaine intensive durant le mois de Juin de l’année 2018.</p>
        <p class="chapter-about-blabla">Hello le monde ici la france, lorem lorem lorem lorem. Coucou coucou coucou coucou dsdsdsdsdsdsddsdsd
            sdsdsdsd hdjsqdhqjdhq qshjhsjhsq shjqhjhs qhsjqhsjhssqhqshsjsqjsqhsqj sjsqhsqjqhsjh qshjqshsqjshjshqjshjqshsqjhqsj sqhjqshqsjhsjs yeuayruayrua ryuazyruayrazuaryazu ppppppeeeeeaaaaaa</p>
        <p class="chapter-about-blabla">Hello le monde ici la france, lorem lorem lorem lorem. Coucou coucou coucou coucou dsdsdsdsdsdsddsdsd
            sdsdsdsd hdjsqdhqjdhq qshjhsjhsq shjqhjhs qhsjqhsjhssqhqshsjsqjsqhsqj sjsqhsqjqhsjh qshjqshsqjshjshqjshjqshsqjhqsj sqhjqshqsjhsjs yeuayruayrua ryuazyruayrazuaryazu ppppppeeeeeaaaaaa
            Hello le monde ici la france, lorem lorem lorem lorem. Coucou coucou coucou coucou dsdsdsdsdsdsddsdsd
            sdsdsdsd hdjsqdhqjdhq qshjhsjhsq shjqhjhs qhsjqhsjhssqhqshsjsqjsqhsqj sjsqhsqjqhsjh qshjqshsqjshjshqjshjqshsqjhqsj sqhjqshqsjhsjs yeuayruayrua ryuazyruayrazuaryazu ppppppeeeeeaaaaaa
            </p>
    </div>
    <div class="chapter-about-text js-text3 hidden">
        <p class="chapter-about-blabla">Nous remercions les organismes suivants d’avoir mis leurs collections à notre disposition : </p>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Collections audiovisuelles</h4>
            Fragments du film...
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Collections audio</h4>
            Fragments du film...
        </div>
        <div class="about-undertitle-container">
            <h4 class="about-undertitle">Collections iconographiques</h4>
            Fragments du film...
        </div><div class="about-undertitle-container">
            <h4 class="about-undertitle">Collections journalistiques</h4>
            Fragments du film...
        </div>
    </div>
    <button class="about-close-button">Close</button>
</div>